<a href="https://colab.research.google.com/github/futureCodersSE/data-roles/blob/main/Data_jobs_reed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This finds all the job codes of a search of Data - Kent - radius=10 on Reed.co.uk

In [164]:
x = np.array([1,2,3])
a = np.array([3,2,1])

x = np.append(x,[a])
print(x)

[1 2 3 3 2 1]

In [174]:
### My reed api_key: 96a7ec49-549c-4529-b9d2-fa3059a437b3
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np


#pages = np.range(63)

#url = "https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=63&proximity=30"
url = "https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?proximity=30"

def get_html(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    return soup


def find_jobs_iterate(url):
  site_html = get_html(url)
  results = site_html.find(class_="col-sm-8 col-md-9 results-container")

  id_list = np.array([])
  jobs_found = results.find_all(class_="job-result-card")

  for job in jobs_found:
      job_id = int(job["id"].split("jobSection")[1])
      
      id_list = np.append(id_list,[job_id])
  return id_list
  
def find_total_pages(site_html):
  of_total_jobs = site_html.find(class_ = "search-results-footer").text
  #print(of_total_jobs)
  total_jobs_split1 = of_total_jobs.split(" jobs")[0]
  total_jobs = total_jobs_split1.split("of ")[1]
  print(total_jobs)
#not used

#soup = get_html(url)
#id_list = find_jobs(soup)

#print(len(id_list))

In [198]:
from pandas.core.arrays.sparse import dtype
initial_url = "https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?proximity=30"


def the_scrape(url):
  soup = get_html(url)
  results = soup.find(class_="col-sm-8 col-md-9 results-container")

  total_id_list = np.array([],dtype=int)
  jobs_found = results.find_all(class_="job-result-card")
  #print(jobs_found)
  for job in jobs_found:
      job_id = int(job["id"].split("jobSection")[1])
      
      total_id_list = np.append(total_id_list, [job_id])              
  print(total_id_list)


  of_total_jobs = results.find(class_ = "search-results-footer").text       #
  total_jobs_split1 = of_total_jobs.split(" jobs")[0]                       #Finds the total number of jobs 
  total_jobs_str = total_jobs_split1.split("of ")[1]                        #and total number of pages needed to run
  total_jobs_list = total_jobs_str.split(",")
  total_pages = int(np.ceil(int("".join(map(str,total_jobs_list)) )/25))

  
  print("total pages", total_pages)
  print("1")
  for page_no in np.arange(2,total_pages+1):
    print(page_no)
    url2 = "https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno="+str(page_no)+"&proximity=30"
    print(url2)
    page_id_list = find_jobs_iterate(url2)

    total_id_list = np.append(total_id_list,[page_id_list])
  return total_id_list

id_list = the_scrape(initial_url)
id_list = id_list.astype("int")
#print(id_list)

[48401296 48120219 48223150 48320718 48465441 48401295 48211407 48350103
 48136108 48472466 48389352 48315303 48316096 48092597 48215959 48335088
 48431584 48264714 48475959 48405690 48473616 47521087 48472489 48381994
 48048808]
total pages 64
1
2
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=2&proximity=30
3
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=3&proximity=30
4
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=4&proximity=30
5
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=5&proximity=30
6
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=6&proximity=30
7
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=7&proximity=30
8
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=8&proximity=30
9
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=9&proximity=30
10
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=10&proximity=30
11
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=11&proximity=30
12
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=12&proximity=30
13
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=13&proximity=30
14
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=14&proximity=30
15
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=15&proximity=30
16
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=16&proximity=30
17
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=17&proximity=30
18
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=18&proximity=30
19
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=19&proximity=30
20
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=20&proximity=30
21
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=21&proximity=30
22
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=22&proximity=30
23
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=23&proximity=30
24
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=24&proximity=30
25
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=25&proximity=30
26
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=26&proximity=30
27
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=27&proximity=30
28
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=28&proximity=30
29
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=29&proximity=30
30
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=30&proximity=30
31
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=31&proximity=30
32
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=32&proximity=30
33
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=33&proximity=30
34
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=34&proximity=30
35
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=35&proximity=30
36
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=36&proximity=30
37
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=37&proximity=30
38
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=38&proximity=30
39
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=39&proximity=30
40
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=40&proximity=30
41
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=41&proximity=30
42
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=42&proximity=30
43
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=43&proximity=30
44
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=44&proximity=30
45
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=45&proximity=30
46
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=46&proximity=30
47
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=47&proximity=30
48
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=48&proximity=30
49
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=49&proximity=30
50
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=50&proximity=30
51
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=51&proximity=30
52
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=52&proximity=30
53
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=53&proximity=30
54
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=54&proximity=30
55
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=55&proximity=30
56
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=56&proximity=30
57
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=57&proximity=30
58
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=58&proximity=30
59
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=59&proximity=30
60
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=60&proximity=30
61
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=61&proximity=30
62
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=62&proximity=30
63
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=63&proximity=30
64
https://www.reed.co.uk/jobs/data-jobs-in-ashford-kent?pageno=64&proximity=30

In [199]:
print(len(id_list))

1597

In [200]:
def call_api(id_list):
  base_url = "https://www.reed.co.uk/api/1.0/jobs/"
  url = ""
  job_df = pd.DataFrame()


  for job_id in id_list:
    url = base_url+str(job_id)
    post_request = requests.get(url, auth=("96a7ec49-549c-4529-b9d2-fa3059a437b3",""))
    json_data = post_request.json()


    new_row = pd.json_normalize(json_data)
    job_df = job_df.append(new_row,ignore_index=True)
  return job_df
full_job_df = call_api(id_list)
display(full_job_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1597 entries, 0 to 1596
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   employerId           1581 non-null   float64
 1   employerName         1581 non-null   object
 2   jobId                1581 non-null   float64
 3   jobTitle             1581 non-null   object
 4   locationName         1581 non-null   object
 5   minimumSalary        1284 non-null   object
 6   maximumSalary        1284 non-null   object
 7   yearlyMinimumSalary  1284 non-null   object
 8   yearlyMaximumSalary  1284 non-null   object
 9   currency             1284 non-null   object
 10  salaryType           1581 non-null   object
 11  salary               1284 non-null   object
 12  datePosted           1581 non-null   object
 13  expirationDate       1581 non-null   object
 14  externalUrl          283 non-null    object
 15  jobUrl               1581 non-null   object
 16  partTime             1581 non-null   object
 17  fullTime             1581 non-null   object
 18  contractType         1581 non-null   object
 19  jobDescription       1581 non-null   object
 20  applicationCount     1581 non-null   float64
 21  message              16 non-null     object
dtypes: float64(3), object(19)
memory usage: 274.6+ KB

None

In [201]:
print(full_job_df.columns)

job_df = full_job_df.drop(columns = ['employerId','minimumSalary', 'maximumSalary', 'yearlyMinimumSalary',
       'yearlyMaximumSalary', 'currency', 'salaryType', 'datePosted',
       'expirationDate','partTime', 'fullTime', 'contractType', 'jobDescription', 'applicationCount'])

display(job_df)

Index(['employerId', 'employerName', 'jobId', 'jobTitle', 'locationName',
       'minimumSalary', 'maximumSalary', 'yearlyMinimumSalary',
       'yearlyMaximumSalary', 'currency', 'salaryType', 'salary', 'datePosted',
       'expirationDate', 'externalUrl', 'jobUrl', 'partTime', 'fullTime',
       'contractType', 'jobDescription', 'applicationCount', 'message'],
      dtype='object')

,employerName,jobId,jobTitle,locationName,salary,externalUrl,jobUrl,message
0,Reed,48401296.0,Data Lead,Folkestone,"£27,000 - £39,000 per annum, inc benefits",None,https://www.reed.co.uk/jobs/data-lead/48401296,NaN
1,Senitor Associates,48120219.0,Data Analyst,Sittingbourne,"£35,000 - £45,000 per annum",None,https://www.reed.co.uk/jobs/data-analyst/48120219,NaN
2,Morgan Sindall Property Services,48223150.0,Data Analyst,Billericay,"£26,000 - £34,000 per annum, inc benefits",https://morgansindall.octo-firstclass.co.uk/ca...,https://www.reed.co.uk/jobs/data-analyst/48223150,NaN
3,IronmongeryDirect & ElectricalDirect,48320718.0,Data Analyst,Basildon,"£32,000 - £35,000 per annum",None,https://www.reed.co.uk/jobs/data-analyst/48320718,NaN
4,OnetoOne Personnel,48465441.0,Data Analyst,Leigh-on-Sea,"£33,000 - £50,000 per annum",https://jobs.onetoonepersonnel.co.uk/job/data-...,https://www.reed.co.uk/jobs/data-analyst/48465441,NaN
...,...,...,...,...,...,...,...,...
1592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded your per-hour request limit ...
1593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded your per-hour request limit ...
1594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded your per-hour request limit ...
1595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded your per-hour request limit ...
1596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,You have exceeded your per-hour request limit ...

In [ ]:
#@title Default title text
###Failed
"""
key = "96a7ec49-549c-4529-b9d2-fa3059a437b3"

exm_url = """https://www.reed.co.uk/api/{versionnumber}/search?keywords={keywords}&loc 
ationName={locationName}&employerId={employerId}&distanceFromLocation={distance in miles}"""


url = "https://www.reed.co.uk/api/1.0/search?keywords=data&location=ashfordkent&distanceFromLocation=10" #

post_request = requests.get(url, auth=("96a7ec49-549c-4529-b9d2-fa3059a437b3","")) #.json()#['totalResults']

if post_request.status_code == 200:
  print("connection made, code: ", post_request.status_code)
  json_data = post_request.json()
else:
  print("connection fail, error code: ", post_request.status_code)

json_keys = json_data.keys()
print("total results found: ",json_data["totalResults"])
#'results' has the top 100 results from the api
#'ambiguousLocations' is empty
#'totalResults' is: 43984, the total value found by the api
print(json_keys) #.keys()
2
results_df = pd.json_normalize(json_data["results"]) 
#ambi_df = pd.json_normalize(json_data["ambiguousLocations"])
display(results_df.info())

results_df.drop(columns = ["minimumSalary", 'currency', 'expirationDate', 'date','jobDescription',
       'applications',"employerProfileName","employerProfileId","maximumSalary"],inplace=True)


def outside_kent():
  drop_cities = ["Bristol", "Manchester","Colchester","Reading","Brussels","Glasgow","Edinburgh","Southampton","Oxford","Cambridge"]
  for city in drop_cities:
    results_df.drop(results_df[results_df["locationName"] == city].index, inplace =True)
#outside_kent()

#results_df.drop("locationName")
display(results_df)
less_results_df = results_df[['employerName', 'jobTitle' ,'locationName']]
#display(less_results_df)
"""

In [98]:
###api test

job_id = "48445740"
print(job_id)
url = "https://www.reed.co.uk/api/1.0/jobs/" # 48401296

url = url+job_id
post_request = requests.get(url, auth=("96a7ec49-549c-4529-b9d2-fa3059a437b3","")) #.json()#['totalResults']
if post_request.status_code == 200:
  print("connection made, code: ", post_request.status_code)
  json_data = post_request.json()
else:
  print("connection fail, error code: ", post_request.status_code)
print(json_data)

df = pd.json_normalize(json_data)
df

48445740
connection made, code:  200
{'employerId': 408731, 'employerName': 'International SOS', 'jobId': 48445740, 'jobTitle': 'Data Analyst', 'locationName': 'London', 'minimumSalary': None, 'maximumSalary': None, 'yearlyMinimumSalary': None, 'yearlyMaximumSalary': None, 'currency': None, 'salaryType': 'per annum', 'salary': None, 'datePosted': '07/10/2022', 'expirationDate': '06/11/2022', 'externalUrl': 'https://international-sos-pte-ltd.contactrh.com/jobs/5114/40712131', 'jobUrl': 'https://www.reed.co.uk/jobs/data-analyst/48445740', 'partTime': False, 'fullTime': True, 'contractType': 'Permanent', 'jobDescription': ' <p>Company description:</p> <p>International SOS is the world’s leading medical and security services company with over 12,000 employees working in 1,000 locations in 90 countries.&nbsp;International SOS Government Services administers the TRICARE Overseas Program providing high-quality, accessible  health care services for U.S. Military service members, family members, retirees, and other eligible beneficiaries overseas.</p> <p>At International SOS, we offer a great working environment, thanks to our commitment to flexible working, diversity, and development.&nbsp; We encourage every person to be their personal best by creating an environment of inclusion, equality and support.</p> <p>International SOS has been recognised as a Top Employer in the UK by the Top Employer’s Institute (TEI) for 2021.</p> <p>Job description:</p> <p><strong>Job Summary</strong></p> <p>As a Data Analyst at International SOS Tricare Overseas Program (TOP) you will be responsible for managing data retrieval and analysis within our organization. Your duties include organizing data points, communicating between upper management and the IT  and Service departments, analyzing operational data to &nbsp;find ways to increase self-service/automation capabilities in our delivery model, defining and building Power BI reports &amp; dashboards and following-up to ensure their adoption.<br /><br /></p> <p><strong>Key Responsibilities</strong></p> <ul> <li>Support the design, configuration, development and testing of Data Analytics (Azure) database changes&nbsp;</li><li>Drive Data Warehouse changes to ensure correctness of Authorization-related reports&nbsp;</li><li>Migration of existing reports / dashboards&nbsp;</li><li>Enhancement of existing reports with new data&nbsp;</li><li>Creation of new reports to track and monitor the DTNRs requests&nbsp;</li><li>Creation of new Power BI DTNR Compliance dashboards to ensure Data Quality</li><li>Creation of new reports to check/compare DTNR volumes before, during and after the migration</li><li>Capture and develop all new Ad-Hoc report requests&nbsp;</li><li>Capture and develop all internal Performance related dashboards for Operations&nbsp;</li><li>Capture and develop all internal Performance related dashboards for Medical Teams</li><li>Support ongoing maintenance of all of the above&nbsp;</li></ul> <p><strong>Skills and Knowledge</strong></p> <p>•&nbsp;&nbsp; &nbsp;Build, test and deliver automated and self-service real-time reports &amp; dashboards in Power BI for data-led operational management and customer self-service digital enablement decisions<br />•&nbsp;&nbsp; &nbsp;Design and implement SQL Server Reporting Services (SSRS) reports<br />•&nbsp;&nbsp; &nbsp;DAX formula language and T-SQL<br />•&nbsp;&nbsp; &nbsp;Data modelling and analysis<br />•&nbsp;&nbsp; &nbsp;Strong knowledge of relational database concepts and structures<br />•&nbsp;&nbsp; &nbsp;Good understanding of data ingestion, data processing and data pipelining&nbsp;<br />•&nbsp;&nbsp; &nbsp;Ability to write stored procedures and functions<br />•&nbsp;&nbsp; &nbsp;Attention to detail; problem solving skills; time management skills<br />•&nbsp;&nbsp; &nbsp;Ability to conduct research and collect data, automating processes to improve data quality and integrity, ensuring its consistency over time Excellent technical and computer skills&nbsp;<br />•&nbsp;&nbsp; &nbsp;Knowledge of confidentiality in the workplace<br />•&nbsp;&nbsp; &nbsp;Proper knowledge on business policies and regulations<br />•&nbsp;&nbsp; &nbsp;An understanding of budgeting procedures, methods, evaluation criteria and resource planning<br />•&nbsp;&nbsp; &nbsp;Management and leadership skills</p> <p>Profile description:</p> ', 'applicationCount': 22}

,employerId,employerName,jobId,jobTitle,locationName,minimumSalary,maximumSalary,yearlyMinimumSalary,yearlyMaximumSalary,currency,...,salary,datePosted,expirationDate,externalUrl,jobUrl,partTime,fullTime,contractType,jobDescription,applicationCount
0,408731,International SOS,48445740,Data Analyst,London,None,None,None,None,None,...,None,07/10/2022,06/11/2022,https://international-sos-pte-ltd.contactrh.co...,https://www.reed.co.uk/jobs/data-analyst/48445740,False,True,Permanent,<p>Company description:</p> <p>International ...,22