<a href="https://colab.research.google.com/github/futureCodersSE/data-roles/blob/main/Data_consolidation_and_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'
def import_data(url):
  df = pd.read_excel(url+"?raw=true", index_col=0)
  return df

hrgo_df = import_data("https://github.com/futureCodersSE/data-roles/blob/main/hrgo_df.xlsx")
jobsinkent_df = import_data("https://github.com/futureCodersSE/data-roles/blob/main/jobsinkent_df.xlsx")
full_reed_df = import_data("https://github.com/futureCodersSE/data-roles/blob/main/reed_full_job_df.xlsx")
df_list = [hrgo_df,jobsinkent_df,full_reed_df]

In [76]:
display(hrgo_df.info())
reed_df = full_reed_df[["jobTitle", "employerName", "salary", "contractType", "locationName",  "jobUrl"]]
reed_df.dropna(inplace=True)
reed_df.rename(columns={"jobTitle":"job_title", "employerName": "company", "contractType":"contract", "locationName":"location",  "jobUrl":"job_url"}, inplace=True)
reed_df["advertised_on"] = "reed.co.uk"
hrgo_df["advertised_on"] = "hrgo.co.uk/jobs"
jobsinkent_df["advertised_on"] = "jobsinkent.com/search"

all_jobs_df = reed_df.append([hrgo_df,jobsinkent_df],ignore_index=True)
display(all_jobs_df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   job_title      6 non-null      object
 1   company        0 non-null      float64
 2   salary         6 non-null      object
 3   contract       6 non-null      object
 4   location       6 non-null      object
 5   job_url        6 non-null      object
 6   advertised_on  6 non-null      object
dtypes: float64(1), object(6)
memory usage: 384.0+ bytes

None

,job_title,company,salary,contract,location,job_url,advertised_on
0,Data Lead,Reed,"£27,000 - £39,000 per annum, inc benefits",Permanent,Folkestone,https://www.reed.co.uk/jobs/data-lead/48401296,reed.co.uk
1,Data Analyst,Senitor Associates,"£35,000 - £45,000 per annum",Permanent,Sittingbourne,https://www.reed.co.uk/jobs/data-analyst/48120219,reed.co.uk
2,Data Analyst,Morgan Sindall Property Services,"£26,000 - £34,000 per annum, inc benefits",Permanent,Billericay,https://www.reed.co.uk/jobs/data-analyst/48223150,reed.co.uk
3,Data Analyst,IronmongeryDirect & ElectricalDirect,"£32,000 - £35,000 per annum",Permanent,Basildon,https://www.reed.co.uk/jobs/data-analyst/48320718,reed.co.uk
4,Data Analyst,OnetoOne Personnel,"£33,000 - £50,000 per annum",Permanent,Leigh-on-Sea,https://www.reed.co.uk/jobs/data-analyst/48465441,reed.co.uk
...,...,...,...,...,...,...,...
1344,"Pre-Sales Consultant - SQL, SaaS, Data - Hybri...",Jump IT Recruitment Solutions Limited,To £48K+Bens+Opportunity,"permanent,full-time",Kent,https://jobsinkent.com/job/2356058,jobsinkent.com/search
1345,Invoice Data Entry Clerk,Connect2Staff,£9.50 - £10 per hour,"contract,full-time","Aylesford, Tonbridge and Malling, Kent",https://jobsinkent.com/job/2421116,jobsinkent.com/search
1346,Data cable Engineer - Fulham ASAP,PW Construction,Negotiable,"permanent,full-time","Fulham, Greater London",https://jobsinkent.com/job/2313664,jobsinkent.com/search
1347,Data Administrator,Hays Specialist Recruitment,Up to £23500.00 per annum,"permanent,full-time","Slough, Berkshire",https://jobsinkent.com/job/2116836,jobsinkent.com/search
1348,Dispatch/Data Entry Administrator,Pearson Whiffin Recruitment,£20000 - £22000 per annum + great benefits,"permanent,full-time","Sittingbourne, Kent",https://jobsinkent.com/job/2044095,jobsinkent.com/search

In [85]:
def salary_to_float(salary_str):
  salary_str =  salary_str.replace("£","").replace(",","").split(" per")[0]
  if "-" in salary_str:
    salary_str = salary_str.split("-")[1]
  if "to " in salary_str:
    salary_str = salary_str.split("to ")[1]
  return float(salary_str)
  


per_annum_jobs = all_jobs_df[all_jobs_df["salary"].str.contains("per annum")] #all_jobs_df.apply(return_per_annum,axis=1)
per_hour_jobs = all_jobs_df[all_jobs_df["salary"].str.contains("per hour")]
display(per_annum_jobs)

per_annum_jobs["salary"] = per_annum_jobs["salary"].apply(salary_to_float)
per_hour_jobs["salary"] = per_hour_jobs["salary"].apply(salary_to_float)
display(per_hour_jobs)

#per_hour_jobs

,job_title,company,salary,contract,location,job_url,advertised_on
0,Data Lead,Reed,"£27,000 - £39,000 per annum, inc benefits",Permanent,Folkestone,https://www.reed.co.uk/jobs/data-lead/48401296,reed.co.uk
1,Data Analyst,Senitor Associates,"£35,000 - £45,000 per annum",Permanent,Sittingbourne,https://www.reed.co.uk/jobs/data-analyst/48120219,reed.co.uk
2,Data Analyst,Morgan Sindall Property Services,"£26,000 - £34,000 per annum, inc benefits",Permanent,Billericay,https://www.reed.co.uk/jobs/data-analyst/48223150,reed.co.uk
3,Data Analyst,IronmongeryDirect & ElectricalDirect,"£32,000 - £35,000 per annum",Permanent,Basildon,https://www.reed.co.uk/jobs/data-analyst/48320718,reed.co.uk
4,Data Analyst,OnetoOne Personnel,"£33,000 - £50,000 per annum",Permanent,Leigh-on-Sea,https://www.reed.co.uk/jobs/data-analyst/48465441,reed.co.uk
...,...,...,...,...,...,...,...
1338,"BI, Data & Performance Manager (Healthcare)",Commercial Services Trading Ltd,£52000 - £55000 per annum + (Pro Rata),"contract,part-time","Royal Tunbridge Wells, Kent",https://jobsinkent.com/job/2064801,jobsinkent.com/search
1342,Senior SQL Database Developer,Hays Specialist Recruitment Ltd,£70000.00 - £85000.00 per annum,"permanent,full-time","Sevenoaks, Kent",https://jobsinkent.com/job/2392506,jobsinkent.com/search
1343,Immediate Start Data-Entry,Huntress,£18000 - £20000 per annum,"temporary,full-time","West Malling, Kent",https://jobsinkent.com/job/2189560,jobsinkent.com/search
1347,Data Administrator,Hays Specialist Recruitment,Up to £23500.00 per annum,"permanent,full-time","Slough, Berkshire",https://jobsinkent.com/job/2116836,jobsinkent.com/search
1348,Dispatch/Data Entry Administrator,Pearson Whiffin Recruitment,£20000 - £22000 per annum + great benefits,"permanent,full-time","Sittingbourne, Kent",https://jobsinkent.com/job/2044095,jobsinkent.com/search

,job_title,company,salary,contract,location,job_url,advertised_on
16,Invoice Data Entry Clerk,Connect2Staff,10.0,Contract,Aylesford,https://www.reed.co.uk/jobs/invoice-data-entry...,reed.co.uk
17,Project Officer / Data Analyst,Brook Street,12.0,Temporary,South Ashford,https://www.reed.co.uk/jobs/project-officer-da...,reed.co.uk
18,Data Analyst - Tower Hamlets,4Recruitment Services,23.0,Contract,Tower Hamlets,https://www.reed.co.uk/jobs/data-analyst-tower...,reed.co.uk
24,12 week Data Entry/Administration support,GerrardWhite,10.0,Temporary,Tunbridge Wells,https://www.reed.co.uk/jobs/12-week-data-entry...,reed.co.uk
26,School Data Admin support - SIittingbourne,Academics,12.0,Contract,Sittingbourne,https://www.reed.co.uk/jobs/school-data-admin-...,reed.co.uk
...,...,...,...,...,...,...,...
1329,Temporary Data Entry Clerk,Connect2Staff,10.0,"temporary,full-time","Kings Hill, Kent",https://jobsinkent.com/job/2376533,jobsinkent.com/search
1330,Data Entry Administrator,Huntress,10.0,"temporary,full-time","Gravesend, Kent",https://jobsinkent.com/job/2048219,jobsinkent.com/search
1331,Invoice Clerk / Data Entry,Huntress,9.8,"temporary,full-time","Dartford, Kent",https://jobsinkent.com/job/2047926,jobsinkent.com/search
1341,Temporary Data Entry Clerk,Commercial Services Trading Ltd,9.0,"temporary,full-time","Aylesford, Tonbridge and Malling, Kent",https://jobsinkent.com/job/2063952,jobsinkent.com/search
1345,Invoice Data Entry Clerk,Connect2Staff,10.0,"contract,full-time","Aylesford, Tonbridge and Malling, Kent",https://jobsinkent.com/job/2421116,jobsinkent.com/search

In [86]:
display(per_annum_jobs)

,job_title,company,salary,contract,location,job_url,advertised_on
0,Data Lead,Reed,39000.0,Permanent,Folkestone,https://www.reed.co.uk/jobs/data-lead/48401296,reed.co.uk
1,Data Analyst,Senitor Associates,45000.0,Permanent,Sittingbourne,https://www.reed.co.uk/jobs/data-analyst/48120219,reed.co.uk
2,Data Analyst,Morgan Sindall Property Services,34000.0,Permanent,Billericay,https://www.reed.co.uk/jobs/data-analyst/48223150,reed.co.uk
3,Data Analyst,IronmongeryDirect & ElectricalDirect,35000.0,Permanent,Basildon,https://www.reed.co.uk/jobs/data-analyst/48320718,reed.co.uk
4,Data Analyst,OnetoOne Personnel,50000.0,Permanent,Leigh-on-Sea,https://www.reed.co.uk/jobs/data-analyst/48465441,reed.co.uk
...,...,...,...,...,...,...,...
1338,"BI, Data & Performance Manager (Healthcare)",Commercial Services Trading Ltd,55000.0,"contract,part-time","Royal Tunbridge Wells, Kent",https://jobsinkent.com/job/2064801,jobsinkent.com/search
1342,Senior SQL Database Developer,Hays Specialist Recruitment Ltd,85000.0,"permanent,full-time","Sevenoaks, Kent",https://jobsinkent.com/job/2392506,jobsinkent.com/search
1343,Immediate Start Data-Entry,Huntress,20000.0,"temporary,full-time","West Malling, Kent",https://jobsinkent.com/job/2189560,jobsinkent.com/search
1347,Data Administrator,Hays Specialist Recruitment,23500.0,"permanent,full-time","Slough, Berkshire",https://jobsinkent.com/job/2116836,jobsinkent.com/search
1348,Dispatch/Data Entry Administrator,Pearson Whiffin Recruitment,22000.0,"permanent,full-time","Sittingbourne, Kent",https://jobsinkent.com/job/2044095,jobsinkent.com/search

In [80]:
test ="£50,700 per annum, pro-rata"
def salary_to_float(salary_str):
  salary_str = salary_str.split(" per")[0]
  if "-" in salary_str:
    salary_str = salary_str.split("-")[1]
    print(" - ")
  if "to " in salary_str:
    print(" to")
    salary_str = salary_str.split("to ")[1]
  return salary_str.replace("£","").replace(",","")

print(salary_to_float(test))

50700